# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Concepticide.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\$Travail\Info\C#\UnityProject\Concepticide\Concepticide\Concepticide\.idea\.idea.Concepticide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
